button {
  transform: scale(1);
  transition: transform 0.3s ease;
}

  button:hover {
    transform: scale(1.2);
  }

.setting-button {
  opacity: 0.9;
}

  .setting-button:hover {
    opacity: 1;
  }
