button {
  transform: scale(1);
  transition: transform 0.3s ease;
}

  button:hover {
    transform: scale(1.2);
  }

.fullscreen-button {
  opacity: 0.9;
}

.fullscreen-button:hover {
  opacity: 1;
}
